@page
@model Databases.Pages.ListStudentsModel
@{
    ViewData["Title"] = "ListStudents";
}

<h2>ListStudents</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentsDB)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                
            </tr>
        }
    </tbody>
</table>