@page
@model Databases.Pages.Studentsdb.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post">

    <div>
        <label asp-for=Student.FirstName />
        <input asp-for=Student.FirstName>

    </div>

    <div>
        <label asp-for=Student.LastName />
        <input asp-for=Student.LastName>

    </div>

    <div>
        <label asp-for=Student.StudentID />
        <input asp-for=Student.StudentID>

    </div>

    <button type="submit">Press me</button>

    <div asp-validation-summary="All"></div>
</form>